name: Deploy Frontend to S3

on:
  push:
    branches:
      - main
    paths:
      - "wed.html"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::858986859216:role/userfeedback
          aws-region: ap-south-1

      - name: Upload wed.html as index.html to S3
        run: |
          aws s3 cp wed.html s3://${{ secrets.S3_BUCKET_NAME }}/index.html --acl public-read
